<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/fdaf567c96.js"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Mercado liebre</title>
  </head>
  <body>
    <!------------------------------------------------------------------->
    <header class="main_header">
      <div class="main-header-top-bar">
        <a href="#"
          ><img src="/images/logo-mercado-liebre.svg" class="logo"
        /></a>

        <input
          type="text"
          name="buscar"
          class="cajita-texto"
          placeholder="    | Busca tu producto"
        />

        <h3 class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin
          tarjeta de credito
        </h3>
      </div>

      <a href="#" class="hamburguer-button"
        ><i class="fa-sharp fa-solid fa-bars"></i
      ></a>

      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#"> Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
          <li>
            <a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a>
          </li>
          <li>
            <a href="#">ingresa <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>

    <img src="/images/img-home-banner.jpg" alt="banner" class="main-banner" />

    <!------------------------------------------------------------------------------->

    <main class="main-main">
      <h2 class="titulares">Basado en tu ultima visita</h2>
      <section class="contenedor-seccion">
        <article>
          <img src="/images/img-cafetera-moulinex.jpg" />
          <div class="div-top">
            <i class="fa-sharp fa-solid fa-truck"></i>
            <div class="flexbox-renglon">
              <p class="precioss">$6.770</p>
              <p class="descuentoss">40% OFF</p>
            </div>
            <p class="descripciones">Cafetera Moulinex</p>
          </div>
        </article>

        <article>
          <img src="/images/img-macbook-pro-2019.jpg" />
          <div class="div-top">
            <i class="fa-sharp fa-solid fa-truck"></i>
            <div class="flexbox-renglon">
              <p class="precioss">$230.000</p>
              <p class="descuentoss">20% OFF</p>
            </div>
            <p class="descripciones">MacBook Pro 2019</p>
          </div>
        </article>

        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" />
          <div class="div-top">
            <i class="fa-sharp fa-solid fa-truck"></i>
           
            <div class="flexbox-renglon">
              <p class="precioss">$70.500</p>
              <p class="descuentoss">10% OFF</p>
            </div>
            <p class="descripciones">Samsung Galaxy 510</p>
          </div>
        </article>

        <article>
          <img src="/images/img-tv-samsung-smart.jpg" />
          <div class="div-top">
            <i class="fa-sharp fa-solid fa-truck"></i>
            <div class="flexbox-renglon">
              <p class="precioss">$23.200</p>
              <p class="descuentoss">5% OFF</p>
            </div>
            <p class="descripciones">SmartTV Samsung 43</p>
          </div>
        </article>
      </section>

      <h2 class="titulares">Ofertas</h2>
      <section>
        
        <article>
          <img src="/images/img-cafetera-moulinex.jpg" />
          <div class="div-top">
            <i class="fa-sharp fa-solid fa-truck"></i>
            <div class="flexbox-renglon">
              <p class="precioss">$6.770</p>
              <p class="descuentoss">40% OFF</p>
            </div>
            <p class="descripciones">Cafetera Moulinex</p>
          </div>
        </article>

        <article>
          <img src="/images/img-macbook-pro-2019.jpg" />
          <div class="div-top">
            <i class="fa-sharp fa-solid fa-truck"></i>
            <div class="flexbox-renglon">
              <p class="precioss">$230.000</p>
              <p class="descuentoss">20% OFF</p>
            </div>
            <p class="descripciones">MacBook Pro 2019</p>
          </div>
        </article>
        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" />
          <div class="div-top">
            <i class="fa-sharp fa-solid fa-truck"></i>
            <div class="flexbox-renglon">
              <p class="precioss">$70.500</p>
              <p class="descuentoss">10% OFF</p>
            </div>
            <p class="descripciones">Samsung Galaxy 510</p>
          </div>
        </article>

        <article>
          <img src="/images/img-tv-samsung-smart.jpg" />
          <div class="div-top">
            <i class="fa-sharp fa-solid fa-truck"></i>
            <div class="flexbox-renglon">
              <p class="precioss">$23.200</p>
              <p class="descuentoss">5% OFF</p>
            </div>
            <p class="descripciones">SmartTV Samsung 43</p>
          </div>
        </article>
      </section>
    </main>
    <!------------------------------- FOOTER ---------------------------------------------------------->
    <footer class="main-footer">
      <section>
        <i class="fa-solid fa-credit-card icon"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>

      <section>
        <i class="fa-solid fa-gift icon"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>

      <section>
        <i class="fa-solid fa-user-shield icon"></i>
        <h3>Seguridad de principio a fin</h3>
        <p>
          ¿No te gusta? ¡devolvelo! En Mercado liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@
        </p>
      </section>
    </footer>
    <hr />
    <p>Copyright 1999-2020 MercadoLiebre S.R.L</p>
  </body>
</html>
